APScheduler==3.8.1
backoff==1.11.1
backports.zoneinfo==0.2.1
black==22.1.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
DictObject==1.1.1
dnspython==2.2.0
emoji==1.6.3
Flask==2.0.3
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
libmagic==1.0
luckydonald-utils==0.83
MarkupSafe==2.0.1
mongoengine==0.23.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.1
pymongo==3.12.3
pyTelegramBotAPI==4.4.0
pytgbot==5.6
python-i18n==0.3.9
python-magic==0.4.25
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
six==1.16.0
tomli==2.0.1
tornado==6.1
typing_extensions==4.1.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
Werkzeug==2.0.3
